*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edeeed;
}

.drops{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.drop{
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 65% 35% 23% 77% / 52% 38% 62% 48% ;
   box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05)
   ,15px 25px 10px rgba(0,0,0,0.1), 15px 20px 20px rgba(0,0,0,0.05), 
   inset -10px -10px 15px rgba(255,255,255,0.9)
}

.drop::before{
content : "";
position: absolute;
top: 25px;
left: 35px;
background: #fff;
width: 20px;
height: 20px;
border-radius: 52% 48% 45% 55% / 39% 34% 66% 61%;
}

.drop::after{
    content : "";
    position: absolute;
    top: 25px;
    left: 65px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 52% 48% 45% 55% / 39% 34% 66% 61%;
}

.drop:nth-child(2){
    transform: scale(0.5) translate(-200px, 180px);
    border-radius:52% 48% 45% 55% / 39% 64% 36% 61% 
}
    

.drop:nth-child(3){
    transform: scale(0.5) translate(280px, 120px);
    border-radius:30% 70% 67% 33% / 58% 64% 36% 42% 
}

.drop:nth-child(4){
    transform: scale(0.5) translate(120px, -310px);
    border-radius:45% 55% 60% 40% / 50% 27% 73% 50% 
}

.drop:hover{
    position: absolute;
    animation-duration: 5s;
    transition: 5s ease-in-out;
    background-color: #00f; 
    animation: rightThenLeft 5s infinite;
}


  @keyframes rightThenLeft {
    0%   {margin-right:0;
        background-color: #fff; }
    50%  {transform: translateY(100px);
        background-color: #00f; }
    100% {margin-right:0;
        background-color: #fff;}
}